
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<br>

<div class="container">

    <a href="#">
        <div class="panel First">
            <p>Register Users</p>
        </div>
    </a>

    <a href="#">
        <div class="panel Second">
            <p>Logbooks</p>
        </div>
    </a>

    <a href="#">
        <div class="panel third">
            <p>Learner Monthly Evaluation</p>
        </div>
    </a>

    <a href="#">
        <div class="panel Fourth">
            <p>Mentor Monthly Evaluation</p>
        </div>
    </a>

    <a href="#">
        <div class="panel fifth">
            <p>Daily Register</p>
        </div>
    </a>

</div>
<br>
<div class="footer">
    <p>&copy; All rights reserved Dynamic DNA Logbook System</p>
</div>
<br>
