
@{
    ViewBag.Title = "Mentor";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<br>

<div class="container">

    <a href="#">
        <div class="panel First">
            <p>Monthly Evaluation</p>
        </div>
    </a>

    <a href="#">
        <div class="panel Second">
            <p>List of Learner Evaluation</p>
        </div>
    </a>

    <a href="#">
        <div class="panel third">
            <p>List  of weekly Learner Register</p>
        </div>
    </a>

</div>

<br>
<div class="footer">
    <p>&copy; All rights reserved Dynamic DNA Logbook System</p>
</div>




