
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<br>

<div class="container">


        <div class="container">

            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <center>
                    <form>
                        <div class="form-group">
                            <label for="usr" style="color:#fdb930">Username:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd" style="color:#fdb930">Password:</label>
                            <input type="password" class="form-control" id="pwd">



                        </div>
 
                                <label><input type="checkbox" value=""><span style="color:#2a398c;"><a href="#">Remember me</a></span></label>
                 
                        <br>
                        <br>

                        <button class="btn btn-success savebtn">Login</button>
                        <br>
                        <br>
                        <a href="#" style="color:#2a398c; font-size:16px;">Not yet registered?</a><br>

                        <a href="#" style="color:#2a398c; font-size:16px;">Forgot Password?</a>

                    </form>
                </center>
    </div>
            <div class="col-sm-3 Colordefault"></div>
    </div>


</div>

<br>
<div class="footer">
    <p>&copy; All rights reserved Dynamic DNA Logbook System</p>
</div>
<br>

